/* --------------------------------- finder window styles */
/* --------------------------------- finder window styles */
/* --------------------------------- finder window styles */

.finder {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 250px;
  width: 600px;
  height: 350px;
  background: white;
  border-radius: 8px;
  border: solid 1pt #9c9a9c;
  box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.2);
  /* top bar fix wrapping out */
  overflow: hidden;
  padding: 0;
  cursor: default;
}

.finder-selected {
  z-index: 10;
}

.finder__top-bar {
  position: relative;
  top: 0;
  margin: auto;
  height: 50px;
  width: 100%;
  background: #e1dfe1;
  border-bottom: solid 1px #979697;
}

.finder__top-bar--controls {
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 5px;
}

.finder__top-bar--control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.finder__top-bar--controls .close {
  background-color: #ff4443;
  border: solid 1px #f41213;
}

.finder__top-bar--controls .minimize {
  background-color: #ffbe00;
  border: solid 1px #e8ae40;
}

.finder__top-bar--controls .maximize {
  background-color: #00da47;
  border: solid 1px #46bf5a;
}

.finder__top-bar--computer-name {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 5px;
  left: 0;
  color: #3e3c54;
  font-size: 0.8em;
}

.finder__top-bar--computer-name img {
  height: 1em;
  vertical-align: top;
  margin-right: 0.15em;
}

.finder__top-bar--main-content {
  height: 100%;\
  /* top bar height = 50px */
  /* total finder height = 350px */
  height: 300px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 0.8em;
}

.finder__sub-item-li span {
  float: right;
  color: #767676;
  font-size: 0.75em;
  vertical-align: bottom;
}

.finder__sub-item-li-selected {
  background-color: #015cdc;
  color: white;
}

.finder__sub-item-li-selected span {
  color: white;
}

.finder__top-bar--main-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.finder__top-bar--main-content--left-col {
  height: 100%;
  width: 150px;
  position: absolute;
  top: 1px;
  left: 0;
  background: #f1f3f6;
}

.finder__top-bar--main-content--left-col ul li {
  padding: 0.25em 0 0.25em 1em;
  color: #523f43;
}

.finder__top-bar--main-content--left-col ul li img {
  height: 1.75em;
  vertical-align: middle;
  margin-right: 0.5em;
}

.finder__top-bar--main-content--left-col ul li:first-child {
  margin: 0.75em 0;
  padding-left: 0.5em;
  font-size: 0.8em;
  color: #827578;
}

.finder__top-bar--main-content--left-col ul li.li-selected {
  background: #cfd5e1;
}

.finder__top-bar--main-content--main-col {
  /* left col width 150px */
  /* total finder width = 600px */
  height: 100%;
  width: 450px;
  position: absolute;
  top: 1px;
  right: 0;
  border-left: solid 1px #9c9a9c;
  color: #272727;
}

.finder__top-bar--main-content--main-col ul {
  padding: 0;
  height: 100%;
  min-width: 150px;
  display: inline-block;
  border-right: solid 1px #e0e0e0;
}

.finder__top-bar--main-content--main-col ul li {
  margin-bottom: 0.20em;
  padding: 0.15em 1em 0.15em 0.5em;
}

.finder__top-bar--main-content--main-col ul li img {
  height: 1.15em;
  margin-right: 0.25em;
  vertical-align: top;
}
