* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 2em;
}

#background-div {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* --------------------------------- desktop_item styles */
/* --------------------------------- desktop_item styles */
/* --------------------------------- desktop_item styles */

.desktop_item {
  display: inline-block;
  width: 65px;
  z-index: 1;
  text-align: center;
  margin-bottom: 1em;
}

.desktop_item img {
  padding: 4px;
  width: 100%;
}

.desktop_item figcaption {
  width: 100%;
  display: inline-block;
  margin: auto;
  margin-top: 0.5em;
  color: white;
  font-size: 0.8em;
  text-shadow: 0 2px 8px #333;
  padding: 4px;
  border-radius: 4px;
  overflow-wrap: break-word;
}

.selected {
  z-index: 10;
}

/* styles for desktop_item when clicked */
.selected img {
  background-color: rgba(0, 0, 0, 0.2);
  outline: solid 1px rgba(0, 0, 0, 0.25);
}
.selected figcaption {
  background-color: #015cdc;
  text-shadow: none;
}


/* ----------------------------------------- admin styles */
/* ----------------------------------------- admin styles */
/* ----------------------------------------- admin styles */

input,
select {
  display: block;
  margin-bottom: 1em;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
input[type="text"] {
  border: none;
  border-bottom: solid 1px #777;
  width: 400px;
  font-size: 1em;
  padding: 5px 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
textarea {
  width: 400px;
  height: 100px;
  resize: none;
  padding: 5px;
}
input[type="submit"] {
  border: solid 1px #333;
  border-radius: 0;
  background: white;
}
select {
  width: 400px;
  height: 30px;
  border: solid 1px #333;
  border-radius: 0;
}
#item-list {
  list-style: none;
  padding: 0;
}
#item-list li {
  padding: 5px;
}
#item-list li:nth-child(odd) {
  background-color: #f7f7f7;
}
