* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 2em;
}

#background-div {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* --------------------------------- desktop_item styles */
/* --------------------------------- desktop_item styles */
/* --------------------------------- desktop_item styles */

.desktop_item {
  display: inline-block;
  width: 65px;
  z-index: 1;
  text-align: center;
  margin-bottom: 1em;
}

.desktop_item img {
  padding: 4px;
  width: 100%;
}

.desktop_item figcaption {
  width: 100%;
  display: inline-block;
  margin: auto;
  margin-top: 0.5em;
  color: white;
  font-size: 0.8em;
  text-shadow: 0 2px 8px #333;
  padding: 4px;
  border-radius: 4px;
  overflow-wrap: break-word;
}

.selected {
  z-index: 10;
}

/* styles for desktop_item when clicked */
.selected img {
  background-color: rgba(0, 0, 0, 0.2);
  outline: solid 1px rgba(0, 0, 0, 0.25);
}
.selected figcaption {
  background-color: #015cdc;
  text-shadow: none;
}
